

  <div class="container">
    <div class="row">  
      <% @posts.each do |post| %>
       <div class="col-md-12 text-center">
        <h1><%= post.title %></h1>
        <div class="col-md-7 col-md-offset-3 text-center" ">
        <p><%= truncate(post.description, length:180) %> <%= link_to 'Readmore', post %> </p>
        </div>
        <br>
         </div>
      <% end %>
       
     
    </div>
  </div>

<%= link_to 'New Post', new_post_path %>

